<div class="row question px-0 py-3" id="answer-{{ answer.id }}">
  <div class="col-md-3 col-lg-2 p-0 ps-1 center-box text-center">
      {% include "include/item_head.html" with rating=answer.rating profile=answer.profile %}
  </div>

  <div class="col-md-9 col-lg-10 pe-1 py-0">
    <p> {{ answer.body }}</p>

    <div class="question-footer row gx-5">
      <div class="form-group col-3 d-flex align-items-center">
        <input id="correct-{{ answer.id }}" class="me-3 form-check form-check-input form-check-inline" type="checkbox">
        <label class="form-check-label" for="correct-{{ answer.id }}">Correct!</label>
      </div>
    </div>
  </div>
</div>
