<!doctype html>

{% load static %}

<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>AskAnything!</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
  </head>
  
  <body class="d-flex flex-column h-100">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url "index" %}">AskAnything!</a>
        <div class="navbar-nav mb-2 mb-md-0">
          <form id="search-input" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Type any question..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

          <a href="{% url "ask" %}" id="ask-btn" class="nav-item btn btn-success">Ask something!</a>
        </div>
        <div id="user-menu">
          <div class="nav-item">
            <img class="avatar" src="{% static "img/avatar-default.png" %}" alt="user-avatar.png">
          </div>
          <div class="d-flex flex-column align-items-center">
            <div class="text-secondary">
              Hello, User!
            </div>
            <div id="menu-buttons" class="d-flex">
              <a href="{% url "settings" %}" class="nav-link menu-btn">Settings</a>
  
              <a href="{% url "logged_off" %}" class="nav-link menu-btn">Log Out</a>
          </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main class="container flex-shrink-0">
    <div class="row">
      <div class="col-7">
        {% block content %}
        {% endblock %}
      </div>

      <div class="col-md-1 col-lg-2"></div>
      <div class="col-md-4 col-lg-3">
        <h3>Popular Tags</h3>
        <table class="table table-bordered">
          <tr class="table-row">
            <td><a class="tag" href="#">dasds</a></td>
            <td><a class="tag" href="#">fgdf</a></td>
            <td><a class="tag" href="#">sadas</a></td>
          </tr>
          <tr>
            <td><a class="tag" href="#">dasds</a></td>
            <td><a class="tag" href="#">fgdf</a></td>
            <td><a class="tag" href="#">sadas</a></td>
          </tr>
        </table>

        <h3>Best Members</h3>
        <ul>
          <li><a class="tag" href="">User123</a></li>
          <li><a class="tag" href="">AnswerMachine</a></li>
          <li><a class="tag" href="">Oracle</a></li>
        </ul>
        
      </div>
    </div>
  </main>
  </body>
</html>
