<div class="row question px-0 py-3 align-items-center">
    <div class="col-2 p-0 ps-1 center-box text-center">
      <img class="avatar-question mb-2"src="../static/img/avatar-default.png" alt="user-avatar">
      <div class="rating flex-centered justify-content-evenly mx-auto">
        <span class="px-0">
          <input class="d-none" type="radio" name="rating-0" id="dislike-0">
          <label class="px-0" for="dislike-0"><img class="minus" src="{% static "img/minus-svgrepo-com.svg" %}" alt="-"></label>
        </span>

        <span>10</span>

        <span class="px-0">
          <input class="d-none" type="radio" name="rating-0" id="like-0">
          <label class="px-0" for="like-0"><img class="plus" src="{% static "img/plus-svgrepo-com.svg" %}" alt="+"></label>
        </span>
      </div>
    </div>

    <div class="col-10 pe-1 py-0">
      <h4 class="question-header">{{ question.title }}</h4>
      <p class="question-desc">{{ question.text }}</p>
      <div class="question-footer flex-centered">
        <a class="btn btn-outline-success py-1" href="{% url "question" question_id=question.id %}">Answers ({{ question.answer_num }})</a>
        <span>Tags:</span>
        <ul class="tag-list list-group list-group-horizontal">
          <li class="list-group-item p-1 list-group-item-success">
            <a href="./tag.html" class="tag">lorem</a>
          </li>
          <li class="list-group-item p-1 px-2 list-group-item-success">
            <a href="#" class="tag">Tag</a>
          </li>
          <li class="list-group-item p-1 list-group-item-success">
            <a href="#" class="tag">Other</a>
          </li>
        </ul>
      </div>
    </div>
  </div>