* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 80px;
}

.navbar-brand {
    font-size: 1.7em;
}

.avatar, .avatar-big, .avatar-question{
    border-radius: 50%;
    border: 2px solid green;
    height: auto;
}

.avatar {
    width: 50px;
}

.avatar-question {
    width: 60px;
}

.avatar-big {
    width: 100px;
}

.question {
    border: 3px solid green;
    border-radius: 8px;

    padding: 8px;
    margin-bottom: 20px;
}

.rating {
    border: 2px solid green;
    padding: 0px;
    border-radius: 5px;
    width: 70%;
    min-width: 64px;
}

.rating * {
    margin: 1px 2px;
    padding: 0px 3px;
}

.rating button {
    font-size: 1.3em;
}

.question-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-centered {
    display: flex;
    align-items: center;
}

.navbar  * {
    margin-left: 5px
}

.tag {
    text-decoration: none;
    color: darkgreen;
    /* padding: 0; */
}

.tag-list .tag {
    font-size: 0.8em;
}

.tag:hover {
    text-decoration: underline;
    color: darkgreen;
}

#user-menu {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 15%;
    min-width: 210px;
}

.navbar-nav {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#search-input {
    width: 60%;
    min-width: 280px;
}

.menu-btn {
    color:whitesmoke;
}

.nav-link:hover {
    color: rgb(0, 128, 75);
}

.menu-btn:hover {
    color: var(--bs-green);
}

.btn-success:hover {
    color:rgb(235, 236, 235);
}

.page-item .page-link {
    color: green;
}

#ask-btn {
    width: 20%;
    min-width: 150px;
}

.text-secondary {
    color: rgb(167, 167, 167)!important;
    font-size: 0.9em;
}

.question-footer > * {
    margin-right: 10px;
}

.list-group-item {
    padding: 5px 10px;
}

.form-control {
    border: 1.5px solid gray;
}

.bigger-font {
    font-size: 1.1em;
}

.smaller-font {
    font-size: 0.9em;
}

.form-check-label {
    font-size: 1.1em;
}

.form-check-label:hover {
    color: green;
}

.form-check-input:checked {
    background-color: rgb(2, 192, 2);
    border-color: green;
}
