* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 80px;
}

.navbar-brand {
    font-size: 1.7em;
}

.avatar {
    width: 50px;
    height: auto;
}

.avatar-question {
    width: 60px;
    height: auto;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.question {
    border: 3px solid green;
    border-radius: 8px;

    padding: 8px;
    margin-bottom: 20px;

    max-width: 800px;
    /* max-height: 200px; */
}

.rating {
    border: 2px solid green;
    padding: 0px;
    border-radius: 5px;
}

.question-main {
    width: 80%;
}

.rating * {
    margin: 1px 2px;
    padding: 0px 3px;
}

.rating button {
    font-size: 1.3em;
}

.question-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
}

.flex-centered {
    display: flex;
    align-items: center;
}

.navbar  * {
    margin-left: 5px
}

.tag {
    text-decoration: none;
    color: darkgreen;
}

.tag:hover {
    text-decoration: underline;
    color: darkgreen;
}

#user-menu {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 15%;
    min-width: 200px;
}

.navbar-nav {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#search-input {
    width: 60%;
    min-width: 280px;
}

.menu-btn {
    color:whitesmoke;
}

.nav-link:hover {
    color: rgb(0, 128, 75);
}

.menu-btn:hover {
    color: var(--bs-green);
}

.btn-success:hover {
    color:rgb(235, 236, 235);
}

.page-item .page-link {
    color: green;
}

#ask-btn {
    width: 20%;
    min-width: 150px;
}

.text-secondary {
    color: rgb(167, 167, 167)!important;
    font-size: 0.9em;
}

.question-footer > * {
    margin-right: 10px;
}

.list-group-item {
    padding: 5px 10px;
}
