{% extends "include/base.html" %}

{% load bootstrap5 %}

{% block heading %}
  <h2>Log In</h2>
{% endblock %}

{% block content %}
  <form action="{% url 'login' %}?next={{ next }}" method="post">
    {% bootstrap_form form layout='horizontal' bound_css_class='' %}
    {% csrf_token %}

    <div class="form-group row">
      <dic class="col-lg-3 col-md-3"></dic>
      <div class="smaller-font col-7 d-flex align-items-center">
        <input class="btn btn-outline-success" type="submit" value="Submit">
        <a href="{% url "login" %}" class="tag ms-2">or Log In</a>
      </div>
    </div>
{% endblock %}
