{% extends "include/base.html" %}

{% load bootstrap5 %}

{% block content %}
  {% include "include/question_main.html" %}

  {% for answer in answers %}
    {% include "include/answer_item.html" with button_id=forloop.counter %}
  {% endfor %}

  {% if form %}
    <form action="{{ request.get_full_path }}" class="mb-3" method="post">
      {% csrf_token %}

      {% for field in form %}
        {% bootstrap_field field show_label=False %}
      {% endfor %}

      <div class="row">
        <input class="col-md-3 ms-2 col-lg-2 btn btn-outline-success" type="submit" value="Answer">
      </div>
    </form>
  {% endif %}
{% endblock %}

{% block footer %}
  {% include "include/paginator.html" %}
{% endblock %}
