<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>AskAnything!</title>

  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/styles.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">AskAnything!</a>
        <div class="navbar-nav mb-2 mb-md-0">
          <form id="search-input" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Type any question..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

          <a href="./ask.html" id="ask-btn" class="nav-item btn btn-success">Ask something!</a>
        </div>
        <div id="user-menu">
          <div class="nav-item">
            <img class="avatar" src="../static/img/avatar-default.png" alt="user-avatar.png">
          </div>
          <div class="d-flex flex-column align-items-center">
            <div class="text-secondary">
              Hello, User!
            </div>
            <div id="menu-buttons" class="d-flex">
              <a href="./settings.html" class="nav-link menu-btn">Settings</a>

              <a href="./logged_off.html" class="nav-link menu-btn">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main class="container flex-shrink-0">
    <div class="row gx-5">
      <div class="col-7 mt-3">
        <div class="row question px-0 py-3">
          <div class="col-lg-2 col-md-4 p-0 ps-1 center-box text-center">
            <img class="avatar-big mb-2" src="../static/img/avatar-default.png" alt="user-avatar">
            <div class="rating flex-centered justify-content-evenly mx-auto">
              <span class="px-0">
                <input class="d-none" type="radio" name="rating-0" id="dislike-0">
                <label class="px-0" for="dislike-0"><img class="minus" src="../static/img/minus-svgrepo-com.svg" alt="-"></label>
              </span>
              
              <span>10</span>

              <span class="px-0">
                <input class="d-none" type="radio" name="rating-0" id="like-0">
                <label class="px-0" for="like-0"><img class="plus" src="../static/img/plus-svgrepo-com.svg" alt="+"></label>
              </span>
            </div>
          </div>

          <div class="col-lg-10 col-md-8 pe-1 py-0 question-main">
            <h2 class="question-header">How to do X?</h2>
            <p class="bigger-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut illum repellendus
            vero facilis magni accusamus corporis molestias officiis, dolor beatae, excepturi provident dolorem
            voluptatem nam earum vitae tenetur eos! Aliquid, aliquam iure! Nemo nostrum animi porro velit quis
            delectus voluptatem inventore, et quam consequatur doloribus soluta maiores incidunt alias?</p>
            <div class="question-footer flex-centered">
              <span>Tags:</span>
              <ul class="tag-list list-group list-group-horizontal">
                <li class="list-group-item p-1 list-group-item-success">
                  <a href="./tag.html" class="tag">lorem</a>
                </li>
                <li class="list-group-item p-1 px-2 list-group-item-success">
                  <a href="#" class="tag">Tag</a>
                </li>
                <li class="list-group-item p-1 list-group-item-success">
                  <a href="#" class="tag">Other</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row question px-0 py-3">
          <div class="col-md-3 col-lg-2 p-0 ps-1 center-box text-center">
            <img class="avatar-question mb-2" src="../static/img/avatar-default.png" alt="user-avatar">
            <div class="rating flex-centered justify-content-evenly mx-auto">
              <span class="px-0">
                <input class="d-none" type="radio" name="rating-1" id="dislike-1">
                <label class="px-0" for="dislike-1"><img class="minus" src="../static/img/minus-svgrepo-com.svg" alt="-"></label>
              </span>
              
              <span>10</span>

              <span class="px-0">
                <input class="d-none" type="radio" name="rating-1" id="like-1">
                <label class="px-0" for="like-1"><img class="plus" src="../static/img/plus-svgrepo-com.svg" alt="+"></label>
              </span>
            </div>
          </div>

          <div class="col-md-9 col-lg-10 pe-1 py-0 question-main">
            <div class="row"></div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, corrupti!officiis, dolor beatae, excepturi provident dolorem
            voluptatem nam earum vitae tenetur eos! Aliquid, aliquam iure! Nemo nostrum animi porro velit quis
            delectus voluptatem inventore, et quam consequatur doloribus soluta maiores incidunt alias?</p>

            <div class="question-footer row gx-5">
              <div class="form-group col-3 d-flex align-items-center">
                <input id="correct-1" class="me-3 form-check form-check-input form-check-inline" type="checkbox">
                <label class="form-check-label" for="correct-1">Correct!</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row question px-0 py-3">
          <div class="col-md-3 col-lg-2 p-0 ps-1 center-box text-center">
            <img class="avatar-question mb-2" src="../static/img/avatar-default.png" alt="user-avatar">
            <div class="rating flex-centered justify-content-evenly mx-auto">
              <span class="px-0">
                <input class="d-none" type="radio" name="rating-2" id="dislike-2">
                <label class="px-0" for="dislike-2"><img class="minus" src="../static/img/minus-svgrepo-com.svg" alt="-"></label>
              </span>
              
              <span>10</span>

              <span class="px-0">
                <input class="d-none" type="radio" name="rating-2" id="like-2">
                <label class="px-0" for="like-2"><img class="plus" src="../static/img/plus-svgrepo-com.svg" alt="+"></label>
              </span>
            </div>
          </div>

          <div class="col-md-9 col-lg-10 pe-1 py-0 question-main">
            <div class="row"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, dolorem?</p>

            <div class="question-footer row gx-5">
              <div class="form-group col-3 d-flex align-items-center">
                <input id="correct-2" class="me-3 form-check form-check-input form-check-inline" type="checkbox">
                <label class="form-check-label" for="correct-2">Correct!</label>
              </div>
            </div>
          </div>
        </div>

        <form action="">
          <div class="row mb-3">
            <textarea class="form-control" name="answer" id="answer-input" cols="30" rows="5" placeholder="Enter your answer..." required maxlength="1000"></textarea>
          </div>
        </form>
        <div class="row">
          <input class="col-md-3 col-lg-2 btn btn-outline-success" type="sumbit" value="Answer">
        </div>
        
      </div>

      <div class="col-md-1 col-lg-2"></div>

      <div class="col-md-4 col-lg-3 mt-4">
        <div class="row">
          <h2 class="opacity-0">
            Dummy
          </h2>
        </div>

        <h3>Popular Tags</h3>
        <table class="table table-bordered">
          <tr class="table-row">
            <td><a class="tag" href="#">dasds</a></td>
            <td><a class="tag" href="#">fgdf</a></td>
            <td><a class="tag" href="#">sadas</a></td>
          </tr>
          <tr>
            <td><a class="tag" href="#">dasds</a></td>
            <td><a class="tag" href="#">fgdf</a></td>
            <td><a class="tag" href="#">sadas</a></td>
          </tr>
        </table>

        <h3>Best Members</h3>
        <ul>
          <li><a class="tag" href="">User123</a></li>
          <li><a class="tag" href="">AnswerMachine</a></li>
          <li><a class="tag" href="">Oracle</a></li>
        </ul>
      </div>
  </main>
</body>

</html>