{% extends "include/base.html" %}

{% load static %}
{% load bootstrap5 %}

{% block heading %}
  <h2>Settings</h2>
{% endblock %}

{% block content %}

  <form action="{% url "settings" %}" method="post" enctype="multipart/form-data">
    {% bootstrap_form form layout='horizontal' bound_css_class='' %}
    {% csrf_token %}

    <div class="form-group row">
      <dic class="col-lg-3 col-md-5"></dic>
      <div class="smaller-font col-7 d-flex align-items-center">
        <input type="submit" class="btn btn-outline-success" value="Save">
      </div>
    </div>
  </form>
{% endblock %}
