{% extend "include/base.html" %}

{% block heading %}
  <h2>Settings: User</h2>
{% endblock %}

{% block content %}
  <p id="error-msg" class="text-danger">This login is already taken</p>

  <form action="">
    <div class="form-group row mb-3">
      <label for="login" class="col-lg-3 col-md-5 col-form-label">Login</label>
      <div class="col-lg-5 col-md-7">
        <input type="text" id="login" class="form-control" value="user_login" required maxlength="20">
      </div>
    </div>

    <div class="form-group row mb-3">
      <label for="email" class="col-lg-3 col-md-5 col-form-label">Email</label>
      <div class="col-lg-5 col-md-7">
        <input type="email" id="email" class="form-control" value="user123@mail.ru" required maxlength="320">
      </div>
    </div>

    <div class="form-group row mb-3">
      <label for="nickname" class="col-lg-3 col-md-5 col-form-label">Nickname</label>
      <div class="col-lg-5 col-md-7">
        <input type="text" id="nickname" class="form-control" value="User" required maxlength="20">
      </div>
    </div>

    <div class="form-group row mb-3 align-items-center">
      <label for="avatar" class="col-lg-3 col-md-5 col-form-label">Change Avatar</label>
      <div class="col-lg-5 col-md-7">
        <img src="{% static "img/avatar/0.png %}" %}" alt="user-avatar.png" class="avatar-big mb-3">
        <input type="file" accept="image/*" id="avatar" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <dic class="col-lg-3 col-md-5"></dic>
      <div class="smaller-font col-7 d-flex align-items-center">
        <input type="submit" class="btn btn-outline-success" value="Save">
      </div>
    </div>
  </form>
{% endblock %}

{% block footer %}
  {% include "include/paginator.html" %}
{% endblock %}
